@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
  --dynamic-vh: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --dynamic-vh: 100dvh;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif, Helvetica, Arial;
}
