@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
  --dynamic-vh: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --dynamic-vh: 100dvh;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif, Arial, Helvetica;
}

@layer utilities {
  /* Default Gotham Font */
  .font-gotham {
    font-family: var(--font-gotham-book);
  }

  /* Bold */
  .font-bold {
    font-family: var(--font-gotham-bold);
    font-weight: 700;
    padding-top: 10px;
  }

  /* Bold Italic */
  .font-bold.font-italic {
    font-family: var(--font-gotham-bold-italic);
    font-weight: 700;
    font-style: italic;
  }

  /* Book */
  .font-book {
    font-family: var(--font-gotham-book);
    font-weight: 400;
  }

  /* Book Italic */
  .font-book.font-italic {
    font-family: var(--font-gotham-book-italic);
    font-weight: 400;
    font-style: italic;
  }

  /* Light */
  .font-light {
    font-family: var(--font-gotham-light);
    font-weight: 300;
  }

  /* Light Italic */
  .font-light.font-italic {
    font-family: var(--font-gotham-light-italic);
    font-weight: 300;
    font-style: italic;
  }

  /* Medium */
  .font-medium {
    font-family: var(--font-gotham-medium);
    font-weight: 500;
  }

  /* Medium Italic */
  .font-medium.font-italic {
    font-family: var(--font-gotham-medium-italic);
    font-weight: 500;
    font-style: italic;
  }
}
